target/
/.cache
.classpath
.DS_Store
/.idea/
/project/project
/project/target
/target
/examples/FromRuleCreator/
/examples/connect4/result.txt
/examples/IstAnalyse/
/examples/Kobi/flashing/result.txt
/examples/Kobi/trial/result.txt
